<!DOCTYPE html>
<html ng-app="wineApp">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Karma:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Check This Bottle</title>
</head>
<body ng-controller="WineController as wines">
  <div class="container"> <!-- CONTAINER -->
    <div class="content">
      <h1 class="poiret">Check This Bottle</h1>
      <!-- SEARCH FORM -->
      <form name="wineForm" ng-show="!wines.results.length" ng-submit="wines.getInfo(wineForm.$valid)" novalidate>
        <fieldset>
          <input name="maker" type="text" ng-model="wines.maker" ng-keypress="{13: wines.doBlur($event)}" placeholder="producer / vineyard" required>
          <p class="poiret bold">&</p>
          <input name="varietal" type="text" ng-model="wines.varietal" ng-keypress="{13: wines.doBlur($event)}" placeholder="name / varietal / year" required>
        </fieldset>
        <button class="btn dkRedBg whiteTxt" type="submit" ng-disabled="wineForm.$invalid">look up</button>
      </form>  
      <!-- RESULTS LIST -->
      <div class="loader" ng-show="wines.loading"><img src="https://www.cirruseo.com/statics/images/spinner.gif"></div>
      <div ng-if="wines.results.length">
        <h2 class="bold gray">Results:</h2>
        <ul class="list" ng-repeat="wine in wines.results">
          <li>
            <p class="bold">{{wine.name}}</p>
            <img ng-src="{{wine.label}}">
            <p class="bold">Score: {{ wine.score || "n/a"}}</p>
            <p>Price: {{ wine.price}}</p>
            <hr/>
          </li>
        </ul> 
        <button type="button" class="btn gray" ng-click="wines.clearResults()">Search again</button>
      </div>
    </div>
  </div> <!-- CONTAINER ENDs -->

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/wineController.js"></script>
</body>
</html>