<!DOCTYPE html>
<html ng-app="wineApp">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Check This Bottle</title>
  <!-- AngularJS -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
  <!-- UI Router -->
  <script src="js/app.js"></script>
  <script src="js/wineController.js"></script>
</head>
<body ng-controller="WineController as wines">
  <div class="container"> <!-- CONTAINER -->
    <h1>Check This Bottle</h1>
    <!-- SEARCH FORM -->
    <div class="center">
      <form class="pure-form" name="wineForm" ng-submit="wines.getInfo(wineForm.$valid)" novalidate>
        <fieldset>
          <input class="pure-input-1-2" name="maker" type="text" ng-model="wines.maker" placeholder="producer or vineyard" required>
          <p>&</p>
          <input class="pure-input-1-2" name="varietal" type="text" ng-model="wines.varietal" placeholder="varietal or name" required>
        </fieldset>
        <button class="pure-button" type="submit" ng-disabled="wineForm.$invalid">Get info!</button>
      </form>  
    </div>
    <!-- RESULTS LIST -->
    <div ng-if="wines.results.length">
      <p class="bold olive">Results:</p>
      <ul class="list" ng-repeat="wine in wines.results">
        <li>
          <p class="bold">{{wine.name}}</p>
          <img src="{{wine.label}}">
          <p class="bold">Score: {{ wine.score || "n/a"}}</p>
          <p>Price: {{ wine.price}}</p>
          <hr/>
        </li>
      </ul> 
      <a href="#" class="pure-button">Search again</a>
    </div>
  </div> <!-- CONTAINER ENDs -->
</body>
</html>