hr {
  padding-top: 15px;
  width: 90%;
  border: none;
  border-bottom: 1px solid pink;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px 5px 50px;
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 5px;
  -webkit-padding-start: 0px;
}

.bold {
  font-size: 1.35em;
  font-weight: bold;
  margin: 15px auto;
}

.olive {
  color: olivedrab;
}
