body{
  height: 100vh;
  width: 100%;
/*  background: url("bgnd.jpg") bottom no-repeat;
  background-size: 100%;
  background-attachment: fixed;*/
  background-color: #FFFCF6;
  font-family: 'Karma', serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-size: 2.25em;
}

hr {
  margin-top: 35px;
  width: 90%;
  border: none;
  border-bottom: 1px solid gray;
}

fieldset {
  border-style: none;
}
input {
  width: 100%;
  text-align: center;
  border-style: none;
  border-bottom: thin solid lightgray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.poiret {
  font-family: 'Poiret One', cursive;
  color: maroon;
}

.container {
  box-sizing: border-box;
  height: 100%;
  /*width: 90%;*/
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

.content {
  background-color: white;
  box-sizing: border-box;
  overflow: scroll;
  padding: 25px;
  height: 100%;
  border: thin solid #E3D8D2;
  border-radius: 5px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 5px;
  -webkit-padding-start: 0px;
}

.bold {
  font-size: 1.35em;
  font-weight: bold;
  margin: 5px auto;
}

.gray {
  color: gray;
}

.dkRedBg {
  background-color: maroon;
}

.whiteTxt {
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 7px 10px 5px;
  border-style: none;
  border-radius: 5px;
  font-size: 1.1em;
}
.btn:disabled {
  opacity: 0.5;
}


@media (max-width: 480px) {
  h1 {
    font-size: 1.75em;
    margin: 0 auto 10px;
  }

  .container {
    padding: 10px;
  }
}

