body{
  height: 100vh;
  width: 100%;
  background: url("../images/winepattern_large.jpg") no-repeat center;
  background-size: cover;
  font-family: 'Karma', serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-size: 2.25em;
}

hr {
  margin-top: 35px;
  width: 90%;
  border: none;
  border-bottom: 1px solid gray;
}

fieldset {
  border-style: none;
}
input {
  width: 100%;
  text-align: center;
  background-color: #FCFBF9;
  border-style: none;
  border-bottom: thin solid lightgray;
}

input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=text]:-webkit-autofill:focus,
input[type=text]:-webkit-autofill:active {
  /*transition: background-color 5000s ease-in-out 0s;*/
  box-shadow: 0 0 0px 1000px #FCFBF9 inset;
}

.poiret {
  font-family: 'Poiret One', cursive;
  color: maroon;
}

.container {
  box-sizing: border-box;
  height: 100%;
  /*width: 90%;*/
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

.content {
  background-color: #FCFBF9;
  box-sizing: border-box;
  overflow: scroll;
  padding: 25px;
  height: 100%;
  border: thin solid #E3D8D2;
  border-radius: 5px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 5px;
  -webkit-padding-start: 0px;
}

.bold {
  font-size: 1.35em;
  font-weight: bold;
  margin: 5px auto 0;
}

.gray {
  color: gray;
}

.dkRedBg {
  background-color: maroon;
}

.whiteTxt {
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 7px 10px 5px;
  border-style: none;
  border-radius: 5px;
  font-size: 1.1em;
}
.btn:disabled {
  opacity: 0.5;
}

.loader > img {
  height: 75px;
  width: 75px;
  margin: 0 auto;
  -webkit-filter: grayscale(35%);
}

.wine-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.make-fave,
.fave {
  width: 20px;
  height: 20px;
  /*float: right;*/
}

.make-fave {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='76px' height='65px' viewBox='0 0 76 65' xml:space='preserve'><circle cx='20' cy='20' r='20' fill='lightgray'/><circle cx='55' cy='20' r='20' fill='lightgray'/><polygon points='5,33 42,20 70,33 38,65' fill='lightgray'/></svg>") no-repeat center;
  background-size: contain;
}

.make-fave:hover,
.fave {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='76px' height='65px' viewBox='0 0 76 65' xml:space='preserve'><circle cx='20' cy='20' r='20' fill='darkred'/><circle cx='55' cy='20' r='20' fill='darkred'/><polygon points='5,33 42,20 70,33 38,65' fill='darkred'/></svg>") no-repeat center;
  background-size: contain;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.75em;
    margin: 0 auto 10px;
  }

  .container {
    padding: 10px;
  }
}

